body {
    background: url("images/pw_maze_black.png") black;
}

#page {
    margin: 2.5em auto;
    max-width: 1022px;
    background: url("images/scare.jpg") no-repeat -1px -1px black;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.container {
    padding: 2em;
}

/*
 * Header
 */

#header {
    height: 150px;
    color: white;
    text-align: left;
    padding-left: 0;
}

#header h1 {
    display: none;
}

#header ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: inline-block;
}

#header ul li {
    margin: 0.5em 0;
    padding: 0.2em 2em;
    min-width: 5em;
    background: rgba(100, 100, 100, 0.75);
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

#header ul li:hover {
    background: rgba(150, 150, 150, 0.75);
}

#header a {
    color: white;
    text-decoration: none;
}

#header a:hover {
    color: red;
    text-decoration: underline;
}

/*
 * Main
 */

#main {
    margin: 0 1em;
    background-color: rgba(150, 150, 150, 0.5);
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
}

/*
 * Headers
 */

h1, h2, h3, h4 {
    font-family: 'Finger Paint', cursive;
    color: #200000;
}

h2 {
    font-size: 2em;
    margin: -0.5em 0 0.5em;
}


/*
 * Login form
 */

.login { text-align: center; }

form.login {
    margin: 0 auto;
    max-width: 25%;
    min-width: 200px;
}
form.login p { margin: 0; text-align: center; width: 100%; }
form.login input[type=submit] { width: inherit; }

/*
 * Footer
 */

#footer {
    text-align: center;
    font-size: 0.75em;
    color: white;
}

#footer a {
    color: inherit;
}
